/* Background picture */
body {
    background-image: url("./annie-spratt-8mqOw4DBBSg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}




/* Form label color */
label {
    color: aliceblue;
}

/* form placement */
.container {
    margin-top: 95px;
}


