/* Background picture */
body {
    background-image: url("./kevin-ianeselli-4iTVoGYY7bM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* font changes */
h1 {
    color: aliceblue;
}

h5 {
    font-size: 35px;
}

.logo {
    margin-top: 90px;
    height: 180px;
    display: block;
    margin-bottom: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
}

.headshot {
    margin-top: 90px;
    height: 500px;
    display: block;
    margin-bottom: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 10px;
}

/* Contact form */
label {
    color: aliceblue;
}

.container {
    margin-top: 70px;
    margin-bottom: 95px;
}


/* Portfolio images */
.card-img-top {
    margin-bottom: 20px;
}